<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💫</text></svg>">


    <link rel="me" href="https://ericernesto.com.br" />
    <link rel="me" href="https://x.com/{{ site.twitter_username }}" />
    <link rel="me" href="https://github.com/{{ site.github_username }}" />
    <link rel="me" href="https://last.fm/user/{{ site.lastfm_username }}" />
    <link rel="me" href="https://instagram.com/{{ site.instagram_username }}" />
    <link rel="me" href="https://steamcommunity.com/id/{{ site.steam_username }}" />
    <link rel="me" href="https://youtube.com/@{{ site.youtube_username }}" />
    <link rel="me" href="https://tumblr.com/{{ site.tumblr_username }}" />
    <link rel="me" href="https://instagram.com/{{ site.instagramArt_username }}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="{{ '/assets/css/anime.css' | relative_url }}" rel="stylesheet" type="text/css" media="all">
  </head>
   <body>
    <div class=wrapper>
    <!--
          eu desejo por uma logo de imagem mas agora não ta funfando  
    
      <div class=header><h1>{{ site.title }}</h1></div>
      -->
      <div class=header><img src="/assets/logo.png"></div>
<!--    <nav1>
      <div class=navlink><a href="#">Link 1</a></div>
      <div class=navlink><a href="#">Link 2</a></div>
      <div class=navlink><a href="#">Link 3</a></div>
    </nav1> -->
    <nav2>
      <div class=navlink><a href="/">Home</a></div>
      <div class=navlink><a href="/map">Site Map</a></div>
      <div class=navlink><a href="/foognocchie">About</a></div>
      <div class=navlink><a href="/contact">Contact</a></div>
      <!--<div class=navlink><a href="#">Link 3</a></div> -->
    </nav2>
    <div class=main>
    <div class=inner>
    
	{{ content }}
	

    </div>
    </div>
    
    <div class=footer>{{ page.date | date: "%b %-d, %Y" }} © {{ site.footerCredits }} - <a href="#">[Go to Top]</a></div>
    </div>
  </body>

</html>
